#bulk-delete-nodes-form .form-item {
  margin: 0;
  padding: 5px 0 5px 0;
}

#bulk-delete-nodes-form .bulk-delete-nodes-filter-cont label {
  float: left;
  margin-right: 10px;
  min-width: 100px;
}

#bulk-delete-nodes-form .bulk-delete-nodes-filter-cont select {
  min-width: 190px;
}

#bulk-delete-nodes-form .bulk-delete-nodes-creation-date {
  float: left;
  margin-right: 40px;
}

#bulk-delete-nodes-form #edit-creation #edit-container {
  padding-top: 0;
}
